.dev-home {
    width: 100%;
    min-height: calc(100vh - 105px);
    padding-top: 5vh;
    
    background-image: url("/public/images/bkg/dev/LaptopCode.jpg");
    background-size: cover;
}

.dev-home-subtitle {
    border-bottom: 1px solid black;
}

.dev-home-text-container {
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 70%;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: center;
}

.dev-home-toc {
    width: 100%;
    padding: 0px 40px;
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dev-home-toc-item-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
}
.dev-home-toc-item-container:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.dev-home-toc-item-text-container {
    padding: 10px 0px 5px 0px;
    margin: 10px 30px;
    cursor: pointer;

    width: 500px;
    height: 300px;
    background-size: cover;
    background-position-y: center;

    box-shadow: inset 0 0 10px black, 0 0 10px black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 2000px) {
    .dev-home-toc-item-text-container {
        width: 600px;
    }
}

.dev-home-toc-item-title {
    margin: 0px;
    padding: 0px;
    color: black;
}

.dev-home-toc-item-desc {
    font-size: 20px;
    width: 100%;
    padding: 3px 0px;
    background: rgba(30, 30, 30, 0.9);
    color: white;
}