.pagecontainer {
    width: 100%;
    min-height: calc(100vh - 105px);
    
    background-size: cover;
}


/* Mobile */
@media (max-width: 800px) {
    .pagecontainer {
        min-height: calc(100vh - 60px);
    }
}