.nav-asatruth {
    background-color: #000;
    transition: background-color 700ms ease-in;
}

.asa-container {
    background-position: right 70%;
}

.asa-content-container {
    color: white;
    max-width: 40%;
    margin-left: 30px;

    position: relative;
    left: 0px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asa-content-container > p {
    margin: 15px 0px 25px 0px;
}


@media (max-width: 1920px) {
    .asa-logo-img {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .asa-container {
        padding-top: 1vh;
    }
    
    .asa-content-container {
        max-width: 90%;
        background: rgba(255, 255, 255, 0.8);
    }
}