.nav {
    display: flex;
    width: 100%;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10000;

    margin: 0px;
    padding: 15px 5% 15px 5%;

    background: #601830;
    color: white;

    transition: background-color 500ms ease-in;
}

.nav-logo-container {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.nav-logo {
    margin: 0px;
    padding: 0px 2% 0px 2%;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    height: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-link-container {
    margin: 0px 25px;
    padding: 0px;
}

/* .nav-link-separator {
    width: 1px;
    height: 1px;
    margin: 0px 0px 1px 0px;
    padding: 0px;
    background: white;
} */

.nav-link {
    color: #ccc;
    padding: 9px;
    border: 0;
    font-size: 26px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.nav-link:hover {
    text-decoration: none;
    opacity: 0.9;
    color: white;
}
.nav-link:visited {
    color: #ccc;
    text-decoration: none;
}
.nav-link:focus, .nav-link:active {
    color: white;
    text-decoration: none;
}

.nav-link-active {
    color: white;
    border-bottom: 1px solid white;
}

.nav-sectiontext {
    white-space: nowrap;
}

@media (max-width: 1300px) {
    .nav-link {
        padding-left: 2px;
        padding-right: 2px;
    }

    .nav-sectiontext {
        font-size: 20px;
    }
}


.nav-link-asatruth-separator {
    width: 25px;
    margin: 0px 0px 1px 5px;
    padding: 0px;
    background: black;
}

.nav-link-asatruth {
    color: cornflowerblue;
    position: relative;
    top: 7px;
}